:root {
  --spacing: 10px;
  --blur: 10px;
  --base: #FFC0CB;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  width: 800px;
  height: auto;
}

.hl {
  color: var(--base);
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}